/* .Technologies {
  min-height: 50px;
  width: 80px;
  height: 36rem;
  width: 20rem;
  margin: 15px 0px;
  box-shadow: 10px 14px 11px -3px grey;
  background: #ffda79;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
} */
.Technologies {
  width: 20rem;
  height: 36rem;
  margin: 15px 0px;
  box-shadow: 10px 14px 11px -3px grey;
  background: #ffda79;
}

.Technologies__title {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Technologies__img_html {
  width: 250px;
}

.Technologies__img_node {
  width: 140px;
}

.Technologies__img_react {
  width: 140px;
}

.Technologies__img_mySql {
  width: 140px;
}

.Technologies__img_sqlServer {
  width: 140px;
}

.Technologies__fullWidth {
  grid-column-start: 1;
  grid-column-end: 4;
}

.Technologies__Center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.Technologies__Center_1 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.Technologies__Center_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: span 1;
}

/*=======================================================================
Media Queries
=========================================================================*/

@media (min-width: 450px) {
  .Technologies {
    margin: 0px;
  }
}
