.MeCard {
  min-height: 50px;
  height: 30rem;
  width: 20rem;
  margin: 15px 0px;
  box-shadow: 10px 14px 11px -3px purple;
}

.Clip {
  background: #ffda79;
  height: 4rem;
}

.Img {
  background-image: url(./OtherMe.jpg);
  height: 26rem;
  background-size: cover;
  background-position: bottom;
}

/*=======================================================================
Media Queries
=========================================================================*/

@media (min-width: 450px) {
  .MeCard {
    margin: 0px;
  }
}
