.AboutMe {
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.SlideRight {
  transition: slideRight 1s infinite;
}

/*=======================================================================
Media Queries
=========================================================================*/

@media (min-width: 450px) {
  .AboutMe {
    grid-template-columns: 1fr 1fr;
    height: 11vh;
  }
}

/*=======================================================================
Animations
=========================================================================*/

@keyframes slideRight {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0%);
  }
}
